# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/vc143.pdb
x64/Debug/vc143.idb
x64/Debug/DragonLakeProject.vcxproj.FileListAbsolute.txt
x64/Debug/DragonLakeProject.pdb
x64/Debug/DragonLakeProject.ilk
x64/Debug/DragonLakeProject.exe.recipe
x64/Debug/DragonLa.2cdf165e.tlog/link.write.1.tlog
x64/Debug/DragonLa.2cdf165e.tlog/link.read.1.tlog
x64/Debug/DragonLa.2cdf165e.tlog/link.command.1.tlog
x64/Debug/DragonLa.2cdf165e.tlog/DragonLakeProject.lastbuildstate
x64/Debug/DragonLa.2cdf165e.tlog/CL.write.1.tlog
x64/Debug/DragonLa.2cdf165e.tlog/CL.read.1.tlog
x64/Debug/DragonLa.2cdf165e.tlog/CL.command.1.tlog
.idea/.idea.DragonLakeProject/.idea/workspace.xml
.idea/.idea.DragonLakeProject/.idea/projectSettingsUpdater.xml
.idea/.idea.DragonLakeProject/.idea/indexLayout.xml
.idea/.idea.DragonLakeProject/.idea/encodings.xml
.idea/.idea.DragonLakeProject/.idea/discord.xml
.idea/.idea.DragonLakeProject/.idea/.name
